.error-data {
	color: var(--error-color);
	font-family: var(--font-ubuntu), sans-serif;
	font-size: 24px;
	display: block;
	text-align: center;
	padding: 100px 0;

	@media screen and (width <= 768px) {
		font-size: 20px;
	}
}
