.logo {
	background-color: #28282d;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70px;
	width: fit-content;
	padding: 0 30px;
	transition:
		opacity 0.3s ease,
		background-color 0.3s ease;

	@media screen and (width <= 768px) {
		padding: 0 15px;
	}

	&:hover {
		opacity: 0.8;
		background-color: var(--gray-color);

		.logo__pink {
			color: var(--white-color);
		}

		.logo__white {
			color: var(--accent-color);
		}
	}

	&__inner {
		font-size: 28px;
		font-weight: 600;
	}

	&__pink {
		color: var(--accent-color);
		transition: color 0.3s ease;
	}

	&__white {
		color: var(--white-color);
		transition: color 0.3s ease;
	}
}
