.subtitle {
	font-size: 24px;
	font-family: var(--font-ubuntu);
	font-weight: 500;
	text-transform: uppercase;

	@media screen and (width <= 768px) {
		font-size: 22px;
	}

	@media screen and (width <= 576px) {
		font-size: 20px;
	}
}
