.burger-btn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 24px;
	height: 20px;
	position: relative;

	&--active {
		.burger-btn__line {
			&:nth-child(1) {
				top: 9px;
				transform: rotate(45deg);
			}

			&:nth-child(2) {
				opacity: 0;
			}

			&:nth-child(3) {
				bottom: 9px;
				transform: rotate(-45deg);
			}
		}
	}

	&__line {
		display: block;
		position: absolute;
		height: 2px;
		width: 24px;
		opacity: 1;
		left: 0;
		transition: 0.5s ease;
		background-color: #fff;
		border-radius: 2px;

		&:nth-child(1) {
			top: 0;
		}

		&:nth-child(2) {
			top: 9px;
		}

		&:nth-child(3) {
			bottom: 0;
		}
	}
}
