.custom-input {
	border: 1px solid rgba(255, 255, 255, 0.05);
	border-radius: 8px;
	font-size: 14px;
	color: var(--white-color);
	background: linear-gradient(90deg, rgba(255, 85, 165, 0.04) 0%, rgba(255, 88, 96, 0.03) 100%);
	height: 46px;
	width: 120px;

	&:focus {
	}

	&::placeholder {
	}
}
