.content-section {
	&--genres-list {
		.content-section__list {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap: 30px;

			@media screen and (width <= 1024px) {
				grid-template-columns: repeat(3, 1fr);
				gap: 20px;
			}

			@media screen and (width <= 768px) {
				grid-template-columns: repeat(2, 1fr);
			}

			@media screen and (width <= 578px) {
				grid-template-columns: repeat(1, 1fr);
				gap: 15px;
			}
		}
	}

	&__head {
		background-color: var(--bg-color);
		box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.2);
		padding: 40px 0;
		position: relative;

		@media screen and (width <= 768px) {
			padding: 20px 0;
		}

		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			height: 2px;
			width: 100%;
			display: block;
			background: linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
			box-shadow: 0 0 20px 0 rgba(255, 88, 96, 0.5);
			z-index: 2;
		}
	}

	&__head-wrapper {
		display: flex;
		flex-direction: column;
		row-gap: 24px;
	}

	&__body {
		padding: 40px 0 56px;
	}

	&__inner {
		display: flex;
		flex-direction: column;
		row-gap: 40px;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 24px;

		@media screen and (width <= 1400px) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media screen and (width <= 990px) {
			grid-template-columns: repeat(1, 1fr);
		}

		@media screen and (width <= 576px) {
			grid-template-columns: repeat(2, 1fr);
			gap: 16px;
		}
	}

	&__link {
		width: fit-content;
		margin: 0 auto;
	}
}
