.hero-section {
	position: relative;
	display: block;
	background-color: var(--bg-color);
	padding: 80px 0;
	overflow: hidden;

	@media screen and (width <= 768px) {
		padding: 40px 0;
	}

	&::before {
		content: '';
		position: absolute;
		z-index: 1;
		pointer-events: none;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		opacity: 0.4;
		background-color: #000;
	}

	&::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		height: 2px;
		width: 100%;
		display: block;
		background: linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
		box-shadow: 0 0 20px 0 rgba(255, 88, 96, 0.5);
		z-index: 2;
	}

	&__wrapper {
		position: relative;
		z-index: 3;
	}

	&__title {
		margin-bottom: 40px;

		@media screen and (width <= 768px) {
			margin-bottom: 30px;
		}
	}

	&__list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		column-gap: 32px;
	}
}
