.sign {
	background-image: url('~/public/img/bg/4.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 100vh;
	padding: 40px 15px;

	&::before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #000;
		opacity: 0.5;
		z-index: 1;
	}

	&__wrapper {
		max-width: 440px;
		width: 100%;
		position: relative;
		z-index: 2;
	}
}
