.actor {
	width: 100%;

	&__title {
		margin-bottom: 40px;
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
	}

	&__inner {
		display: flex;
		column-gap: 30px;
		margin-bottom: 30px;

		@media screen and (width <= 768px) {
			column-gap: 15px;
		}

		@media screen and (width <= 576px) {
			column-gap: 8px;
		}
	}

	&__link {
		width: fit-content;
		align-self: center;
	}

	&__img {
		border-radius: 8px;
		display: block;
		object-fit: cover;

		@media screen and (width <= 768px) {
			height: 270px;
			object-fit: cover;
		}

		@media screen and (width <= 576px) {
			height: 250px;
		}
	}

	&__content-item {
		display: flex;
		column-gap: 7px;

		@media screen and (width <= 768px) {
			flex-direction: column;
		}

		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}

	&__content-text {
		font-size: 16px;
		color: var(--txt-gray);

		@media screen and (width <= 768px) {
			font-size: 14px;

			&:first-child {
				margin-bottom: 3px;
			}
		}
	}

	&__tabs {
		position: absolute;
		bottom: 0;

		@media screen and (width <= 768px) {
			position: static;
			column-gap: 20px;
			flex-wrap: wrap;
		}
	}

	&__movie-list {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 24px;
		margin-bottom: 24px;

		@media screen and (width <= 1200px) {
			grid-template-columns: repeat(3, 1fr);
			gap: 15px;
			margin-bottom: 15px;
		}

		@media screen and (width <= 768px) {
			grid-template-columns: repeat(2, 1fr);
			gap: 10px;
			margin-bottom: 10px;
		}

		@media screen and (width <= 576px) {
			grid-template-columns: repeat(1, 1fr);
			margin-bottom: 30px;
		}
	}

	&__show-more {
		margin: 0 auto;
	}

	&__facts-item {
		background-color: var(--bg-gray-color);
		color: var(--txt-gray);
		padding: 15px 15px 15px 40px;
		border-radius: 8px;
		box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
		font-size: 16px;
		line-height: 1.6;
		position: relative;
		transition:
			color 0.2s ease,
			transform 0.2s ease,
			box-shadow 0.2s ease;

		&:not(:last-child) {
			margin-bottom: 10px;
		}

		&:hover {
			transform: translateY(-3px);
			box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
			color: var(--white-color);

			&::before {
				transform: scale(1.3);
				box-shadow: 0 0 16px 0 rgba(255, 88, 96, 0.6);
			}
		}

		&::before {
			content: '';
			display: block;
			background-color: var(--accent-color);
			width: 6px;
			height: 6px;
			border-radius: 50%;
			position: absolute;
			top: 23px;
			left: 20px;
			transition: transform 0.2s ease;
		}
	}
}
