.actor {
	&__title {
		margin-bottom: 40px;
	}

	&__wrapper {
		display: flex;
		column-gap: 30px;

		@media screen and (width <= 768px) {
			column-gap: 15px;
		}
	}

	&__img {
		border-radius: 8px;
		display: block;

		@media screen and (width <= 576px) {
			width: 156px;
			object-fit: cover;
		}
	}

	&__content-item {
		display: flex;
		column-gap: 7px;

		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}

	&__content-text {
		font-size: 16px;
		color: var(--txt-gray);

		@media screen and (width <= 768px) {
			font-size: 14px;
		}
	}

	&__tabs {
		position: absolute;
		bottom: 0;

		@media screen and (width <= 768px) {
			position: static;
			column-gap: 20px;
			flex-wrap: wrap;
		}
	}
}
